<a href="https://colab.research.google.com/github/Evianitary18/SQL-Lite/blob/main/02_TestSQL_Memanipulasi_Table.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Table adalah Data dalam bentuk baris dan kolom seperti spreadsheet yang disimpan dalam suatu storage engine.

Storage Engine(Mesin penyimpanan) merupakan modul perangkat lunak MySQL yang digunakan dalam sistem manajemen database untuk membuat, membaca, dan memperbarui data.

Terdapat bermacam-macam storage engine yang didukung My SQL:

- InnoDB
- MyISAM
- Memory
- Merge
- Archive
- Federated
- Blackhole
- Example
- CSV

Storage engine CSV termasuk yang paling banyak dipakai karena mempunyai fleksibilitas yang tinggi (mudah diintegrasikan ke dalam aplikasi lain).

** 1. Membuat Tabel Baru**

In [2]:
import sqlite3

In [17]:
# Membuat table baru di database example.db
connection1 = sqlite3.connect("example.db")
cursor_obj = connection1.cursor()
# membuat kursor database dulu dari koneksi database untuk bisa eksekusi
# gunakan syntaz CREATE TABLE <name table> [nama_kolom, tipe_data, null/tidak null diperbolehkan]

table = """
CREATE TABLE IF NOT EXISTS EMAIL (
    Email VARCHAR(255) NOT NULL,
    First_Name CHAR(25) NOT NULL,
    Last_Name CHAR(25)
);
"""

# Penggunaan IF NOT EXIST untuk mencegah error jika tabel sudah ada.

# Eksekusi perintah untuk membuat tabel
cursor_obj.execute(table)

print("Table is Ready")

# Close the connection
# connection_obj.close()

Table is Ready

2. **Melihat Struktur Table**

In [18]:
# Melihat isi table di database example.db
cursor_obj.execute("SELECT name FROM sqlite_master WHERE type= 'table';")
print(cursor_obj.fetchall())

[('EMAIL',)]

In [20]:
# Melihat struktur table
cursor_obj.execute("PRAGMA table_info ('EMAIL')").fetchall()

[(0, 'Email', 'VARCHAR(255)', 1, None, 0),
 (1, 'First_Name', 'CHAR(25)', 1, None, 0),
 (2, 'Last_Name', 'CHAR(25)', 0, None, 0)]

In [ ]:
# Index
# column name
# data type
# whether or not the column can be null
# the default value for the column
# the primary key in the result set is 0 for column that are not part of the primary key
# otherwise the primary key in the result set is the index of the column

In [21]:
# Mengubah table dengan menambah kolom bernama username
# untuk mengubah table menggunakan syntax bernama alter
cursor_obj.execute("ALTER TABLE EMAIL ADD COLUMN Username CHAR(25)")

In [24]:
# Melihat struktur table
cursor_obj.execute("PRAGMA table_info('EMAIL')").fetchall()

[(0, 'Email', 'VARCHAR(255)', 1, None, 0),
 (1, 'First_Name', 'CHAR(25)', 1, None, 0),
 (2, 'Last_Name', 'CHAR(25)', 0, None, 0),
 (3, 'Username', 'CHAR(25)', 0, None, 0)]

ALTER TABLE hanya bisa digunakan untuk menambahkan kolom. Jika ingin mengurangi atau menghapus kolom, seringkali kita harus membuat ulang tablenya dengan daftar kolom yang kita inginkan saja.

In [26]:
# 1. Buat tabel baru tanpa kolom 'Username'
cursor_obj.execute('''
CREATE TABLE IF NOT EXISTS EMAIL_NEW (
    Email VARCHAR(255) NOT NULL,
    First_Name CHAR(25) NOT NULL,
    Last_Name CHAR(25)
)
''')

# 2. Salin data dari tabel lama ke tabel baru
cursor_obj.execute('''
INSERT INTO EMAIL_NEW (Email, First_Name, Last_Name)
SELECT Email, First_Name, Last_Name FROM EMAIL
''')

# 3. Hapus tabel lama
cursor_obj.execute('DROP TABLE EMAIL')

# 4. Ganti nama tabel baru menjadi nama tabel lama
cursor_obj.execute('ALTER TABLE EMAIL_NEW RENAME TO EMAIL')

print("Column 'Username' has been dropped and table structure updated.")

Column 'Username' has been dropped and table structure updated.