<a href="https://colab.research.google.com/github/Evianitary18/SQL-Lite/blob/main/04_Test_SQL_Update_%26_Delete_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**UPDATE** statement digunakan untuk mengganti nilai suatu data pada tabel.

Sintaks query:

In [1]:
# UPDATE nama_tabel
# SET kolom1 = nilai1, kolom2 = nilai2, ...
# WHERE kondisi;

Klausa Where di sini menentukan banyak records atau data yang akan diperbarui

In [ ]:
# display isi tabel EMAIL
pd.read_sql_quert("SELECT * from EMAIL", connection1)

In [ ]:
# update email dari first_name Kirana
connection1.execute("UPDATE EMAIL, SET Email='kirana@gmail.com' where First_Name='Kirana'");

In [ ]:
# display isi tabel Email
pd.read_sql_query("SELECT * from EMAIL", connection1)

**DELETE Statement**

Untuk menghapus record/data yang ada pada tabel.

Sintaks query:

In [ ]:
# DELETE FROM nama_tabel WHERE kondisi;

Jika ingin menghapus semua baris tanpa menghapus tabel gunakan sintaks:

In [ ]:
# DELETE FROM nama_tabel;

In [ ]:
# delete table yang memiliki Last Name Laras
connection1.execute("DELETE from EMAIL where Last_Name 'Laras'");

In [ ]:
# display isi table Email
pd.read_sql_query("SELECT * from EMAIL", connection1)