<a href="https://colab.research.google.com/github/Evianitary18/SQL-Lite/blob/main/06_Test_SQL_(And%2C_Or%2C_%26_Not).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ada 3 macam operator logika dalam SQL.
1. And (Menampilkan record yang memenuhi semua kondisi)

Operator and akan menampilkan data jika semua kondisi yang dipisahkan oleh And bernilai true.

**Sintaks**

In [ ]:
SELECT nama_kolom
FROM nama_tabel
WHERE kondisi1 AND kondisi2 AND kondisi3...

In [ ]:
import sqlite3
import pandas as pd

In [ ]:
con = sqlite3.connect("chinook.db")

In [ ]:
cursor = con.cursor()

cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

[]

In [ ]:
# Display isi table
pd.read_sql_query("SELECT * FROM customers", con)

In [ ]:
pd.read_sql_query("SELECT * FROM customer where Country = 'USA' and Company = 'Google Inc'", con)

Operator Or
Menampilkan record yang memenuhi minimal satu kondisi

In [ ]:
# Sintaks
SELECT nama_kolom
FROM nama_tabel
WHERE kondisi1 OR kondisi2 OR kondisi3...

In [ ]:
pd.read_sql_query("SELECT * from customers where FirstName = 'Jack' or FirstName = 'Mark'", con)

Operator Not
Menampilkan data jika hasil kondisinya bernilai not true.

In [ ]:
# SINTAKS
SELECT nama_kolom
FROM nama_tabel
WHERE NOT kondisi;

In [ ]:
pd.reas_sql_query("SELECT * from customers where NOT (Country = 'USA') ", con)

Kombinasi AND, OR, NOT

In [ ]:
pd.read_sql_query("SELECT * from customers where (Country = 'USA' and (Phone NOT like '%650%' or Company <> 'None'))", con)

In [ ]:
pd.read_sql_query("SELECT * from customers where (Country = 'USA' and (Phone NOT like '%650%' or Company <> 'None'))", con)