<a href="https://colab.research.google.com/github/Evianitary18/SQL-Lite/blob/main/07_Test_SQL_IN%2C_BETWEEN%2C_LIKE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Operator In
menentukan beberapa nilai sekaligus dalam klausa WHERE. versi singkat penggunaan operator OR

In [ ]:
# SINTAKS
SELECT nama_kolom
FROM nama_tabel
WHERE nama_kolom IN (nilai1, nilai2, nilai3, ...);

In [ ]:
pd.read_sql_query("SELECT * from customers where Country in ('Canada', 'USA')", con)

In [ ]:
pd.read_sql_query("SELECT * from customers where Country not in ('Canada', 'USA')", con)

Operator Between untuk menampilkan data dengan rentang nilai tertentu.

In [ ]:
# SINTAKS
SELECT nama_kolom
FROM nama_tabel
WHERE nama_kolom BETWEEN nilai1 AND nilai2;

In [ ]:
pd.read_sql_query("SELECT * from customers where CustomerID between 5 and 10", con)

In [ ]:
pd.read_sql_query("SELECT *, DATE(InvoiceDate) as Invoice_DAte from invoices where DATE (InvoiceDate) between '2009-01-01' and '2009-06-01'", con)

Like digunakan untuk mencari nilai tertentu.

Ada 2 jenis karakyter khusus, yaitu tanda % dan _

1. Jika tanda % yang terletak diakhir teks contoh XXX%, artinya kita mau mencari teks dalam suatu kolom yang memiliki nilai awalan XXX, terlepas jumlah karakter setelah nilai XXX ada berapa.

SINTAKS
SELECT * FROM nama_tabel WHERE nama_kolom LIKE 'xxx%'

2. Jika tanda % terletak dibagian awal teks artinya mau mencari teks dalam suatu kolom memiliki nilai akhiran XXX

SINTAKS
SELECT * FROM nama_tabel WHERE nama_kolom LIKE '%XXX'

In [ ]:
pd.read_sql_query("SELECT * from customers", con)

In [ ]:
pd.read_sql_query("SELECT * from customers where Phone like '+55%'", con)

In [ ]:
pd.read_sql_query(SELECT * from customers where Email like '%uol%'", con)

In [ ]:
pd.read_sql_query("SELECT * from customers where FirstName like 'A%'", con)

Jika karakter yang digunakan garis bawah atau _ (underscore) artinya kita mau mencari teks dengan jumlah karakter sebanyak 4 yang memiliki nilai XXX sebagai 3 huruf awalnya.

SINTAKS:
SELECT * FROM nama_tabel WHERE nama_kolom LIKE 'XXX_'

In [ ]:
pd.read_sql_query("SELECT * from customers where State like 'A_'", con)

jika sintaksnya seperti ini
SELECT * FROM nama_tabel
WHERE nama_kolom LIKE '_XXX'
artinya kita mau mencari teks yang punya karakter 4 dengan nilai akhir kata XXX

In [ ]:
pd.read_sql_query("SELECT * from customers where State like'_B'", con)

In [ ]:
pd.read_sql_query("SELECT * from customers where FirstNAme like'_ar_'", con)
# hanya 4 karakter dan membebaskan mau karakter apa.