<a href="https://colab.research.google.com/github/Evianitary18/SQL-Lite/blob/main/08_Test_SQL_Order_By_%26_Limit.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Operator Order By
Untuk mengurutkan hasil query yang ditampilkan

Sintaks mengurutkan hasil secara naik:
SELECT * FROM nama_tabel
ORDER BY nama_kolom
sama dengan
SELECT * from nama_tabel ORDER BY nama kolom ASC;

kalau urutan datanya menurun, bisa menggunakan sintaks

SELECT * FROM nama_tabel ORDER BY nama_kolom DESC;

Operator LIMIT berguna untuk membatasi jumlah baris data yang ditampilkan

SELECT nama_kolom FROM nama_tabel WHERE kondisi LIMIT jumlah_baris_yang_diinginkan;

In [ ]:
pd.read_sql_query("SELECT * from customers where FirstName ='Mark' ORDER BY LastName Limit 10", con)

In [ ]:
# kalau teman-teman ingin mengurutkan dari yang terbesar
pd.read_sql_query("SELECT * from customers where Country ='Brazil' ORDER BY FirstName DESC", con)