<a href="https://colab.research.google.com/github/Evianitary18/SQL-Lite/blob/main/09_Test_SQL_Fungsi_Numerik_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Fungsi Numerik pada SQL dibagi menjadi 2, yaitu fungsi Aritmatika dan Matematika

Fungsi aritmatika
- Operator pertambahan
- Operator pengurangan
- Operator perkalian
- Operator pembagian
- Multi operator
- Multi operator dan multi operasi
- Mencari modulo

In [ ]:
import sqlite3
import pandas as pd
con = sqlite3.connect("chinook.db")

In [ ]:
# Operasi pertambahan
pd.read_sql_query("SELECT 15.4 + 5", con)

In [ ]:
# modulo
pd.read_sql_query("SELECT 15.4 % 5", con)

In [ ]:
# modulo
pd.read_sql_query("SELECT 6 % 3", con)

Fungsi Matematika
- pembulatan dengan ROUND
- pembulatan ke bawah dengan FLOOR
- pembulatan ke atas dengan CEILING
- pembulatan nilai negatif dengan CEIL
- mendapatkan nilai mutlak dengan ABS

In [ ]:
# pembulatan dengan fungsi ROUND
pd.read_sql_query("SELECT ROUND(0.5)", con)

In [ ]:
pd.read_sql_query("SELECT round(Total), Total from invoices", con)

In [ ]:
# pembulatan floor/ke bawah
SELECT FLOOR(2.5);

# Di sqlite, fungsi floor itu tidak bisa atau error

In [ ]:
# pembulatan ke atas menggunakan ceiling/langit-langit.
# Di sqlite tidak bisa karena nanti pasti akan error

In [ ]:
# Pembulatan nilai numerik negatif
# bisa dengan fungsi CEIL

# SELECT CEIL(-2.1)

In [ ]:
# mendapatkan nilai mutlak atau ABS
pd.read_sql_query("SELECT ABS(-2.1)", con)
# misal negatif -2 nanti hasilnya pasti positif
# Jika dimasukkan nilai positif, hasilnya tetap positif