<a href="https://colab.research.google.com/github/Evianitary18/SQL-Lite/blob/main/10_Test_SQL_Fungsi_Agregrat_Dasar_(Count%2C_SUM%2C_AVG%2C_MAX%2C_dan_MIN))_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Mencari Count

In [ ]:
SELECT COUNT (nama_kolom)
FROM nama_tabel;

2. DISTINCT untuk menghitung banyak nilai unik pada data

In [ ]:
SELECT COUNT (DISTINCT nama_kolom)
FROM nama_tabel;

3. WHERE untuk menghitung banyak data yang memenuhi kondisi tertentu

In [ ]:
SELECT COUNT (nama_kolom)
FROM nama_tabel
WHERE kondisi;

In [ ]:
# Misalkan kita ingin menghitung berapa banyak data yang ada pada tabel customers.
# Semua rangkuman ini bisa diterapkan dengan database chinook.db
pd.read_sql_query("SELECT count (*) from customers", con)

In [ ]:
# Misalkan ingin menghitung berapa banyak country di tabel customers
pd.read_sql_query("SELECT count (country) from customers", con)

In [ ]:
pd.read_sql_query("SELECT count(distinct Country) from customers", con)

4. SUM untuk menjumlahkan nilai dari suatu data numerik

In [ ]:
SELECT SUM (nama_kolom)
FROM nama_tabel

In [ ]:
SELECT SUM (nama_kolom)
FROM nama_tabel
WHERE kondisi;

In [ ]:
# mau mencari jumlah nilai dari kolom total
pd.read_sql_query("SELECT sum(total) from invoices", con)

5. AVG untuk menghitung rata-rata dari suatu data numerik

In [ ]:
SELECT AVG (nama_kolom)
FROM nama_tabel;

In [ ]:
SELECT AVG (nama_kolom)
FROM nama_tabel
WHERE kondisi;

In [ ]:
pd.read_sql_query("SELECT avg(total) from invoices", con)

6. MIN dan MAX

In [ ]:
pd.read_sql_query("SELECT min(total) from invoices", con)

In [ ]:
pd.read_sql_query("SELECT max(total) from invoices", con)