<a href="https://colab.research.google.com/github/Evianitary18/SQL-Lite/blob/main/11_TestSQL_Group_By_dan_Having.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Fungsi Agregat lanjutan.
1. Fungsi Group By
Menghitung nilai agregasi suatu data dalam kategori/grup tertentu.

Sintaks:
SELECT nama_kolom
FROM nama_tabel
WHERE kondisi
GROUP BY nama_kolom

In [ ]:
pd.read_sql_query("SELECT * from invoices limit 5", con)

In [ ]:
# Ingin mengelompokkan nilai invoices berdasarkan billing country
pd.read_sql_query("SELECT billingcountry, sum(total) as total from invoices GROUP BY billingcountry Order by 2 limit 5", con)

2. Having digunakan untuk menyaring data yang ditampilkan menurut kondisi yang merupakan hasil agregasi data

In [ ]:
# Sintaks
SELECT nama_kolom
FROM nama_tabel
WHERE kondisi
GROUP BY nama_kolom
HAVING kondisi_agregasi

In [ ]:
pd.read_sql_query("SELECT billingcountry, sum(total) as total from invoices GROUP BY billingcountry HAVING total > 40", con)