<a href="https://colab.research.google.com/github/Evianitary18/SQL-Lite/blob/main/12_TestSQL_Tipe_Data_String_dan_Date_Time.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Fungsi untuk tipe Data String

Macam-macam fungsi untuk tipe data string
- Upper()
- Lower()
- Replace()
- Substr()
- Instr()
- Length()
- Trim()
- Ltrim()
- Rtrim()
- Concatenation oprator"||"

In [ ]:
# 1. UPPER
Menampilkan salinan string yang semua karakternya telah dikonversi menjadi huruf kapital.
Sintaks:
SELECT UPPER('String Functions');

# 2. Lower
Menampilkan salinan string yang semua karakternya telah dikonversi menjadi huruf kecil.
Sintaks:
SELECT LOWER('String Functions');

# 3. Replace
Menampilkan salinan string yang nilai setiap instance substring-nya diganti dengan nilai substring lain
Sintaks:
SELECT REPLACE('These are string functions', 'These', 'Those');

# SUBSTR
Menampilkan nilai substring dengan panjang yang telah ditentukan dari suatu nilai string
Sintaks:
Ada 3 argumern yaitu, nilai stringnya, posisi mulainya, dan panjang karakternya.
Sintaks:
SELECT SUBSTR('SQLite String Functions', 1, 6);

# INSTR():
Menemukan dan memberikan posisi kemunculan pertama dari nilai substring dari suatu nilai string, yang dinyatakan dalam bilangan bulat.
Sintaks:
SELECT INSTR ('SQLite String Functions', 'Functions')
As;

sintaks as maksudnya memberi alias atau mengganti nama kolom pada output query kita.

# LENGTH():
Menghitung jumlah karakter dari suatu nilai string atau jumlah byte dari suatu BLOB.
Sintaks:
SELECT LENGTH('SQLite String Functions');

# TRIM()
Menampilkan salinan dari string yang memiliki karakter tertentu, yang dihapus dari awalan dan akhiran string tersebut.
SELECT TRIM('SQLite');

# LTRIM():
Menampilkan salinan string yang memiliki karakter tertentu, yang dihapus dari awalan string tersebut.
Sintaks:
SELECT LTRIM('SQLite');

# RTRIM():
Menampilkan salinan string yang memiliki karakter tertentu, yang dihapus dari akhiran string tersebut.
Sintaks:
SELECT RTRIM('SQLite'), LENGTH('SQLite') Lenght Before, LENGTH(LTRIM('SQLite')) Length After;

# RTRIM
Menampilkan salinan string yang memiliki karakter tertentu, yang dihapus dari akhiran string tersebut.
Sintaks:
SELECT RTRIM(' SQLite '),
Lenght(' SQLite ') LengthBefore,
Length(RTRIM('SQLite')) LengthAfter;


# CONCATENATION OPERATOR ||
Menggabungkan dua nilai string menjadi 1

pd.read_sql_query("SELECT FirstName, LastName, FirstName || ' ' || LastName as FullName from customers limit 10", con)